body {
    background-image: url(../assets/login.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centra il contenuto verticalmente */
    height: 100vh;
    /* Imposta l'altezza del body al 100% del viewport */
}

.container-login {
    /* Aggiungi eventuali stili specifici al contenitore della form di login */
}

.container-form-login {
    /* Aggiungi eventuali stili specifici al contenitore della form di login */
}