.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

h3 {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 800;
    font-style: normal;
}

p {
    margin-top: 0px;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 0.9rem;
}

.main-container {
    background-image: url(../assets/home2.png);
    background-size: cover;
    box-shadow: inset 0px -10px 10px 0px white;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    /* Assicura che il container occupi l'intera altezza della vista */

}

.container-logo {
    width: 170px;
    height: 170px;
    background-image: url(../assets/logo-removebg-preview.png);
    color: initial;
    /* Imposta il colore iniziale, può essere il colore di default o uno specifico */
    transition: color 0.5s ease;
    /* Cambia 0.5s con la durata desiderata */
}

.container-logo:hover {
    cursor: pointer;
}

.logo-title:hover .container-title1,
.logo-title:hover .container-title2 {
    color: #ff6547;
    cursor: pointer;
    /* Imposta il colore iniziale, può essere il colore di default o uno specifico */
    transition: color 0.5s ease;
    /* Cambia 0.5s con la durata desiderata */
}

.link {
    color: initial;
    /* Imposta il colore iniziale, può essere il colore di default o uno specifico */
    transition: color 0.4s ease;
    /* Cambia 0.5s con la durata desiderata */
}

.link:hover {
    color: #ff6547;
    cursor: pointer;
    /* Opzionale, per mostrare un indicatore che l'elemento è cliccabile */
}

img {
    width: 100%;
    height: 100%;
}


.logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: initial;
    /* Imposta il colore iniziale, può essere il colore di default o uno specifico */
    transition: color 0.5s ease;
    /* Cambia 0.5s con la durata desiderata */
}

.container-link {
    display: flex;
    gap: 50px;
    font-size: 1.25rem;
    font-weight: 700;
}

.container-theme {
    margin-right: 30px;
    color: initial;
    /* Imposta il colore iniziale, può essere il colore di default o uno specifico */
    transition: color 0.4s ease;
}

.container-theme:hover {
    color: #ff6547;
    cursor: pointer;
}



.container-title1 {
    font-weight: 100;
    font-style: normal;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.container-title2 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-title {
    color: white;
    /* Imposta il colore di riempimento delle lettere */
    -webkit-text-stroke: 1.4px black;
    /* Imposta lo stroke */
    font-size: 4.25rem;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-titles {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.container-subtitles {
    display: flex;
    flex-direction: row;
}

/* .container-subtitle1 {
    font-weight: 100;
    font-style: normal;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.container-subtitle2 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
} */

.container-img-top {}

.img-top {
    background-image: url(../assets/logo.png);
    width: 170px;
    height: 170px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    height: 170px;
    border-radius: 100px;
}

.subtitle4 {
    color: #ff6547;
    -webkit-text-stroke: 0px;
    font-size: 2.25rem;

}

.subtitle3 {
    color: white;
    font-size: 2.25rem;
    margin-top: 0px;
    -webkit-text-stroke: 1px black;
}

.container-tag {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 20px;
    width: 365px;
}

.container-tag-tutorial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 20px;
    width: 365px;
    margin-top: 1rem;
}

.tag {
    width: 108px;
    height: 32px;
    border-radius: 10px;
    background-color: #5a6d7999;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-style: normal;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-size: 0.9rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(0, 0, 0, 0.1);
}

.contacts {
    width: 385px;
    height: 100px;
    border-radius: 25px;
    background-color: #2a34463b;
    margin-top: 1.8rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.container-contacts {
    display: flex;
    justify-content: center;
}

.container-img2 {
    background-image: url(../assets/img-1.webp);
    background-size: cover;
    background-position: center;
    position: absolute;
    display: block;
    height: 105vh;
    width: 99.7vw;
    z-index: 0;
    box-shadow: inset 0px 20px 10px 0px white, inset 0px -40px 30px -10px white;
}

.container-img3 {
    background-image: url(../assets/home3.webp);
    background-size: cover;
    background-position: center;
    position: absolute;
    display: block;
    height: 100vh;
    width: 99.7vw;
    z-index: 0;
    box-shadow: inset 0px 10px 10px 0px white, inset 0px -10px 10px 0px white;

}

footer {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
}

.container-img4 {
    background-image: url(../assets/home4.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    display: block;
    top: 100%;
    height: 116vh;
    width: 99.7vw;
    z-index: 0;
    box-shadow: inset 0px 10px 10px 0px white, inset 0px -10px 10px 0px white;

}

.img-arrow {
    height: 200px;
    width: 200px;
    background-size: cover;
    z-index: 0;
    background-image: url(../assets/icons8-arrow-down.gif);
}

.container-arrow {
    height: 200px;
    width: 200px;
    background-color: red;
    z-index: 1;
}

.facebook {
    background-image: url(../assets/icons8-facebook-80.png);
    height: 80px;
    /* background-origin: content-box; */
    background-repeat: no-repeat;
    width: 80px;
    opacity: 0.6;
    transition: 0.3s ease;
}

.facebook:hover {
    cursor: pointer;
    opacity: 1.5;
}

.instagram {
    background-image: url(../assets/icons8-instagram-80.png);
    height: 80px;
    /* background-origin: content-box; */
    background-repeat: no-repeat;
    width: 80px;
    opacity: 0.6;
    transition: 0.3s ease;
}

.instagram:hover {
    cursor: pointer;
    opacity: 1.5;
}

.telegram {
    background-image: url(../assets/icons8-telegram-logo-80.png);
    height: 80px;
    /* background-origin: content-box; */
    background-repeat: no-repeat;
    width: 80px;
    scale: 0.8;
    opacity: 0.6;
    transition: 0.3s ease;
}

.telegram:hover {
    cursor: pointer;
    opacity: 1.5;
}

.linkedin {
    background-image: url(../assets/icons8-linkedin-logo-80.png);
    height: 80px;
    /* background-origin: content-box; */
    background-repeat: no-repeat;
    width: 80px;
    scale: 0.8;
    transition: 0.3s ease;
    opacity: 0.6;
}

.linkedin:hover {
    cursor: pointer;
    opacity: 1.5;
}

.container-icons {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    flex-direction: row;
}

.dividing-line {
    height: 66px;
    width: 1.25px;
    background-color: #ffffff36;
    margin: 0 20px;
}

/* 
SCROLLBAR */


/* Modifica l'aspetto della scrollbar */
::-webkit-scrollbar {
    width: 5px;
    transition: 0.3s ease;
    /* Larghezza della scrollbar */
}

::-webkit-scrollbar:hover {

    width: 5px;
    /* Larghezza della scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
    /* Colore dello sfondo della traccia */
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    /* Colore dello sfondo della maniglia */

}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Colore dello sfondo della maniglia quando si passa il mouse */
}

.arrow {
    width: 30px;
    height: 30px;
    border: solid #123e48;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    animation: bounceArrow 2s infinite;
}

@keyframes bounceArrow {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) rotate(45deg);
    }

    40% {
        transform: translateY(-30px) rotate(45deg);
    }

    60% {
        transform: translateY(-15px) rotate(45deg);
    }
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;

}

.text-project {
    /* position: absolute; */
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    z-index: 1;
    left: 40%;
    color: white;
    font-weight: 800;
    font-size: 4.5rem;
    -webkit-text-stroke: 1.4px black;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;

}


.section-projects {
    position: relative;
    z-index: 1;
}

.card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease-in-out, transform 0.5s ease-in-out;
    width: 308px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #123e48
}

.card-tutorial {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.2s ease-in-out, transform 0.5s ease-in-out;
    width: 564px;
    height: 468px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #123e48
}

.card.fade-in:hover {
    cursor: pointer;

    .img-cards {
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
    }
}

.card-tutorial.fade-in:hover {
    cursor: pointer;

    .img-tutorial {
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;
    }
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.fade-out {
    opacity: 0;
    transform: translateY(20px);
}

.img-cards {
    width: 264px;
    height: 272px;
    margin-top: 1rem;
    opacity: 0.7;
}

.img-tutorial {
    width: 385px;
    height: 192px;
    margin-top: 1rem;
    opacity: 0.7;
}

.cards-tutorials {
    display: flex;
    gap: 5rem;
    flex-direction: row;
}

.difficulty-container {
    width: 250px;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    align-items: center;

}

.difficulty-label {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
}

.difficulty-bar {
    width: 150px;
    background-color: #ffffffa8;
    height: 20px;
    border-radius: 5px;
}

.difficulty-progress {
    height: 20px;
    background-color: #008000;
    /* Verde */
    border-radius: 5px;
}

.container-img-sub {
    width: 290px;
    background-image: url(../assets/mail2.png);
    height: 471px;
    position: relative;
    left: 40.5%;
    transform: scale(0.7);
    top: 21%;
}

.container-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-sub {
    display: flex;
    justify-content: center;
    margin-top: 13rem;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #0b202b;
}

.container-inupt {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    width: 296px;
    height: 48px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-width: 0px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
    text-align: left;
    padding-inline: 25px;
}

input:focus-visible {
    border-color: red !important;
}

button {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-block: 0px;
    padding-inline: 6px;
    border-width: 0px;
    height: 50px;
    width: 111px;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
}

.checkbox-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.2rem;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

label {
    display: flex;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
}

input[type="checkbox" i] {
    margin-right: 5px;
    width: 90px;
    height: 26px;
    border-radius: 5px;
}

.subscription-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Nasconde la checkbox originale */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

.custom-checkbox {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.2rem;
}

/* Stile per il label che fungerà da pseudo-checkbox */
.custom-checkbox label {
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-left: 35px;
    /* spazio per la pseudo-checkbox */
}

/* Box personalizzato che appare prima del label */
.custom-checkbox label:before {
    content: '';
    display: flex;
    top: 0;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-right: 1.7rem;
    background-color: white;
}

/* Quando la checkbox è selezionata, cambia lo stile del box */
.custom-checkbox input[type="checkbox"]:checked+label:before {
    background-color: #ff6547;
    /* Colore di sfondo quando è selezionato */
    border-color: #000000;
    /* Colore del bordo quando è selezionato */
}