body {
    /* background-image: url(../assets/login.png.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centra il contenuto verticalmente */
    /* Imposta l'altezza del body al 100% del viewport */
}

input {
    height: 40px;
    width: 280px;
    border-radius: 0;
    border-radius: 10px;
    border-left: 0;
    border-top: 0;
    text-align: center;

}

.button-login {
    width: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 32px;
    border-radius: 10px;
    text-align: center;
    border: none;

}

.container-button {
    display: flex;
    justify-content: center;
}

.container-login {
    /* Aggiungi eventuali stili specifici al contenitore della form di login */
}

.container-form-login {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-login {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    margin-top: 130px;
}

.background-image {
    position: fixed;
    /* o absolute, a seconda delle necessità */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/login.png.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes colorChange {


    40% {
        border-top-color: rgb(171, 95, 64);
    }

    60% {
        border-top-color: rgb(255, 244, 160);
    }

    80% {
        border-top-color: rgb(122, 169, 192);
    }

    100% {
        border-top-color: rgb(235, 255, 255);
    }
}

.loading-animation {
    border: 40px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite, colorChange 5s ease-in-out infinite;
    position: absolute;
    top: calc(58% + 5px);
    left: calc(47% + 5px);
    margin-top: -50px;
    /* Metà dell'altezza */
    margin-left: -50px;
    /* Metà della larghezza */
    z-index: 2;
}

.container-login.fade-in {
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.form-group {
    position: relative;
    margin-top: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    background-color: #ffffffba;
    border: none;
    border-bottom: 3px black solid !important;
    /* Opzionale: rimuove il bordo dell'input */
    border-radius: 5px;
    /* Arrotonda gli angoli dell'input */
    /* Percorso della tua immagine sfocata */
    color: black;
    /* Colore del testo per migliorare la leggibilità */
}

.form-group label {
    position: absolute;
    top: -3px;
    left: 10px;
    font-size: 17px;
    margin-top: 10px;
    transition: 0.3s;
    pointer-events: none;
    color: #d27e49;
}

.form-group input:focus+label {
    margin-top: -24px;
    margin-left: 35%;
    /* Sposta la label in alto */
    font-size: 18px;
    color: #000000;
}


.button-login {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    color: white;
    /* Testo bianco, modifica se necessario */
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background-size: 200% auto;
    background-image: linear-gradient(to right, rgb(171, 95, 64), rgb(255, 244, 160), rgb(122, 169, 192), rgb(235, 255, 255), rgb(171, 95, 64));
    transition: 0.5s;
    backdrop-filter: blur(5px);
    color: black !important
        /* Effetto sfocatura */
}

.button-login:hover {
    background-position: right center;
    /* Muove il gradiente al passaggio del mouse */
}